<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--<form style="background-color:#865;margin-right:80px;padding-bottom:20px;padding-top:20px;">-->

<!--    <tr>-->
<!--        用户名: <input  style="width:150px;height:30px;"/></br>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        密码 &nbsp&nbsp&nbsp&nbsp: <input  style="width:150px;height:30px;margin-top:30px;"/></br>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
<!--        <button type="button" style="width:60px; height:30px;margin-top:30px;"> 登陆</button>-->
<!--    </tr>-->

<!--</form>-->



rrrrrrrrTTT3333777

</body>
</html>